.page-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  font-family: 'Roboto', sans-serif;
}

.page-content__rooms-list {
    width: 50rem;
}

.rooms-list__room {
    padding: 1rem 0;
}

.secondary-content {
    margin-left: 1rem;
}
